* { 
  padding: 0;
  margin: 0; 
}

html body {
  min-height: 100vh !important;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-image: linear-gradient(#954AEF, #1BFC9C);
  min-height: 100vh;
  height: auto;
}

.page-container {
  min-height: 100vh;
  height: auto;
  margin: 0px 0px 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 244, 249);
}

.page-container h1 {
  color: #7e7e7e;
  margin: 0;
  padding: 40px 40px 10px 40px;
  align-self: flex-start;
}

.user-stats {
  display: flex;
  flex-direction: row;
  padding: 10px 50px 10px 50px;
  flex-wrap: wrap;
}

.widget-container {
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
}

.white-boxed {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  filter: drop-shadow(0px 0px 5px rgb(201, 201, 201));
}

.row-centric {
  flex-direction: row;
}

.col-centric {
  flex-direction: column;
}

.user-metric {
  padding: 10px;
  border-radius: 5px;
  margin: 0px 20px 5px 5px;
  width: 15vw;
  height: 95px;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 5px rgb(201, 201, 201));
  border-style: solid;
  border-width: 0px 0px 0px 10px;
}

.user-metric h5, .user-metric h3{
  margin: 0px;
}

.bot-metrics {
  padding: 50px;
  background-color: rgb(233, 233, 233);
}

.bot-information {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.bot-text {
  flex-grow: 1;
}

.graph {
  flex-grow: 2;
}

.filter {
  
  margin: 20px 20px 0px 20px
}

.filter-apply-btn {
  align-self: flex-end;
}

.checkbox-container {
  background-color: #eeeeee;
  border-radius: 4px;
  margin-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.checkbox-container input {
  margin-right: 4px;
}

.date-time {
  margin: 0px 0px 0px 0px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.date-time p{
  margin: 0px 0px 0px 0px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f1f1f1;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #d3d3d3;
  transition: .2s;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #494949;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100vh;
}

/* General sidebar styles */
.bm-menu {
  background-color: #6e8beb;
  padding: 8em 0 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #42423d;
  padding: 0;
}

/* Individual item */
.bm-item {
  font-size: xx-large;
  display: inline-block;
  color:rgb(54, 54, 54);
  text-decoration: none;
  background-image: #6e4f8d;
  width: 100%;
  padding: 10px;
}

.bm-item:hover {
  color:rgb(41, 41, 41);
  background-image: linear-gradient(to right, #ccd3e9, #6e8beb);
  transition: .2s;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
