.App {
  text-align: left;
}

.NavBar a {
  padding: 10px;
}

h1 {
  font-size: xx-large;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInformation {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.userInformation .userMetric {
  margin: 5px;
  width: 300px;
  height: 300px;
}

.userInformation .userMetric:nth-child(odd) {
  background-color: rgb(187, 187, 187);
}

.userInformation .userMetric:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

.botMetrics {
  padding: 50px;
  background-color: rgb(233, 233, 233);
}

.botInformation {
  display: flex;
  align-items: center
}
